name: Build Minecraft Server Docker Image
on: [push]
      
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        mc_version:
          - "1.16.210.06"

    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args:
            SERVER_VERSION: ${{ matrix.mc_version }}
          push: true
          tags: arogarth/docker-minecraft-bedrock-server:${{ matrix.mc_version }}
